.sor{
    border-bottom: solid black 1px;
    padding: 20px;
}

.X{
    float: right;
}

.X:hover, .sor input:hover{
    cursor: pointer;
}

.kihuzott{
    text-decoration: line-through;
}

label{
    padding-left: 20px;
}

#inputDiv{
    margin-top: 20px;
}

#inputDiv input, button{
    width: 49%;
    margin: 0;
    padding: 0;
}

#inputDiv button{
    float: right;
}

#hideCheckbox{
    transform: scale(2);
}

h1{
    text-align: center;
}

#searchInput{
    width: 49%;
}

.hidden{
    display: none;
}

.hiddenSearch{
    display: none;
}